<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candicelouw.plaquesdeparisno2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <receiver android:name=".paris_2e_basic" android:label="&#8470; 2">
           <intent-filter>
               <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
           </intent-filter>
           <meta-data android:name="android.appwidget.provider" android:resource="@xml/paris_2e_basic_widget"/>
       </receiver>

        <receiver android:name=".paris_2e_placedelabourse" android:label="&#8470; 2 | Place de La Bourse">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/paris_2e_placedelabourse_widget"/>
        </receiver>

        <receiver android:name=".paris_2e_ruebrogniart" android:label="&#8470; 2 | Rue Brogniart">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/paris_2e_ruebrogniart_widget"/>
        </receiver>

        <receiver android:name=".paris_2e_ruemontmartre" android:label="&#8470; 2 | Rue Montmartre">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/paris_2e_ruemontmartre_widget"/>
        </receiver>
    </application>
</manifest>